---
---

@import "{{ site.theme }}";

.page-header {
  height: 250px;  /* Change the height of the banner */
  padding: 50px;  /* Adjust the padding inside the banner */
  text-align: left;  /* Center-align the text */
}
